*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
  }
  :root{
    --font-color: #EEF2E6;
    --bg-color1: #357171;
    --bg-color2: #75DAAD;
    --bg-color3: #5ca18d;
  }
  body{
    color: var( --font-color);
    font-family: Helvetica, sans-serif;
  }
section{
    width: 100%;
    height: calc(100vh - 60px);
}
/* About me - Section 1 */
#about-me{
    background-color: var(--bg-color1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.center-div{
    border-left: 3px solid var(--font-color);
    padding-left: 10px;
    width: 80%;
    max-width: 700px;
    height: fit-content;
    margin-bottom: 100px;
    text-align: justify;
}
.center-div h1{
    font-size: 3.125rem;
    margin-bottom: 20px;
}
.center-div p{
    font-size: 24px;
    line-height: 1.5;
}
.arrows{
    position: relative;
    width: 10px;
    height: 50px;
    background-color: var(--font-color);
    top: 50px;
    transition: all 0.3s linear;    
}
.arr1{
    transform: rotate(-45deg);
}
.arr2{
    transform: rotate(45deg);
    top: 0px;
    left: 30px;
}
.arrow-container{
    animation: jump infinite 1s linear;
}
.arrow-container:hover > .arrows{
    scale: 1.1;
    box-shadow: var(--font-color) 0px 0px 5px 1px;
}
.arrow-container:hover .arr2{
    left: 31px
}
@keyframes jump {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0px);
    }
}
/* Learning - Section 2 */
#learn{
    /* background-color: #649c8c; */
    background-color: var(--bg-color2);
}
#learn h1, #plans h1{
    font-size: 4rem;
    padding: 50px;
    text-align: center;
}
#learn hr, #plans hr{
    width: 8%;
    border-top: 10px dotted var(--font-color);
    margin: 0 auto;
    border-left: none;
    border-right: none;
    border-bottom: none;
    
}
.main-container{
    width: 80%;
    height: 440px;
    margin: 80px auto 0px;
    display: flex;
    gap: 20px;
}
.containers{
    width: 20%;
    height: 100%;
    color: black;
    background-color: var(--font-color);
    border-radius: 8px;
    transition: scale 0.5s ease-in-out;
}
.containers img{
    width: 100%;
    height: 40%;
    border-radius: 8px 8px 0 0;
}

.containers h3{
    margin-left: 10px;
    text-align: center;
    margin: 10px 0;
}
.containers ul{
    margin-left: 30px;
}
.containers ul li{
    margin: 10px 0;
}
.last-li{
    list-style-type: none;
    font-weight: bold;
    font-style: italic;
}
.containers:hover{
    scale: 1.1;
}
/* Plans - Section 3 */
#plans{
    /* background-color: #75DAAD; */
    background-color: var(--bg-color3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#plans img{
    width: 150px;
    height: 150px;
}
.container-plans{
    width: 60%;
    margin: 0 auto;
    line-height: 2;
    text-align: justify;
}
.row{
    width: 100%;
    margin: 50px 0;
}
.row h3{
    font-size: 24px;
}
.row p{
    font-size: 20px;
}
.row img.left{
    float: left;
    margin-right: 30px;
}
.row img.right{
    float: right;
    margin-left: 30px;
}