*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
  }
  :root{
    --font-color: #EEF2E6;
  }
  body{
    color: var( --font-color);
  }
section{
    width: 100%;
}
/* About me - Section 1 */
#about-me{
    height: calc(100vh - 60px);
    background-color: #357171;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.center-div{
    border-left: 3px solid var(--font-color);
    padding-left: 10px;
    width: 80%;
    max-width: 700px;
    height: fit-content;
    margin-bottom: 100px;
    text-align: justify;
}
.center-div h1{
    font-size: 3.125rem;
    margin-bottom: 20px;
}
.center-div p{
    font-size: 24px;
    line-height: 1.5;
}
.arrows{
    position: relative;
    width: 10px;
    height: 50px;
    background-color: var(--font-color);
    top: 50px;
    transition: all 0.3s linear;    
}
.arr1{
    transform: rotate(-45deg);
}
.arr2{
    transform: rotate(45deg);
    top: 0px;
    left: 30px;
}
.arrow-container{
    animation: jump infinite 1s linear;
}
.arrow-container:hover > .arrows{
    scale: 1.1;
    box-shadow: #EEF2E6 0px 0px 5px 1px;
}
.arrow-container:hover .arr2{
    left: 31px
}
@keyframes jump {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0px);
    }
}
/* Learning - Section 2 */
#learn{
    height: calc(100vh - 60px);
    background-color: #649c8c;
}
/* Plans - Section 3 */
#plans{

}
