footer{
    background-color: #121c1a;
    height: 19vh;
    width:100%;
    text-align: center;
    font-family: monospace;
    color: white;
    padding: 20px 0 0 0;
  }
  .tech{
    margin-bottom: 20px;
  }
  .tech p{
    display: inline;
    font-size: 24px;
  }
  .tech i{
    margin-right: 0px;
    font-size: 24px;
  }
  .tech i.fa-html5{
    color: rgb(255, 119, 0);
  }
  .tech i.fa-css3-alt{
    color: rgb(0, 162, 255);
  }
  .tech i.fa-bootstrap{
    color: rgb(184, 93, 200);
  }
  .tech i.fa-js{
    color: #F0DB4F  ;
  }