footer{
    background-color: #121c1a;
    height: fit-content;
    width:100%;
    text-align: center;
    font-family: monospace;
    color: white;
    padding: 20px 0 10px;
    overflow-x: hidden;
  }
  .tech > div, .tech h1{
    padding: 0;
  }
  .tech p{
    display: inline;
  }
  .tech p, .tech i{
    font-size: 1.5rem;
  }
  .tech i{
    margin-right: 0px;
  }
  .tech i.fa-html5{
    color: rgb(255, 119, 0);
  }
  .tech i.fa-css3-alt{
    color: rgb(0, 162, 255);
  }
  .tech i.fa-bootstrap{
    color: rgb(184, 93, 200);
  }
  .tech i.fa-js{
    color: #F0DB4F  ;
  }
  @media only screen and (max-width: 991px) {
    .tech h1{
      font-size: 1.8rem;
    }
    .tech p, .tech i{
      font-size: 1.2rem;
    }
    
  }