

/* header{
    display: flex;
    justify-content: flex-end;
    background-color: #0aa778;
    height: 60px;
    padding: 0 40px;
    top: 0%;
    left: 0%;
    align-items: center;
    border-bottom: 1px solid rgba(37, 45, 45, 0.8);
    position: sticky;
    z-index: 999;
  }
  a{
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
  }
  nav ul{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
     list-style: none;
     font-size: 28px;
     color: #fff;
     place-items: center;
     font-family: 'Shantell Sans', serif;
}
nav ul li{
     width: 135px;
     text-align: center;
}
nav ul li:hover{
    color: #357171;
}
nav ul li a.a-left{
     position: relative;
    left: 30px;
} */
.navbar{
    background-color: #0aa778;
    padding-left: 20px;
    padding-right: 20px;
     width: 100%;    
    z-index: 5;
    position: fixed; 
}
.navbar-collapse{
    /* background-color: #0aa778; */
}

.nav-link{
    font-family: 'Shantell Sans', serif;
    font-size: 28px;
}
.nav-link,.navbar-brand{
    color: #EEF2E6;
}
.navbar-brand{
    font-family: 'Sacramento', sans-serif;
    font-size: 42px;
    padding-top: 0;
    padding-bottom: 0;
}
.nav-link:hover, .navbar-brand:hover{
    color: #357171;
}
.navbar-collapse{
    background-color: #0aa778;
    margin: -3.5px;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.bar{
    position: relative;
    height: 2px;
    background-color: #EEF2E6;
    width: 0%;
    transition: width 0.5s ease-out, background-color 1s ease-out;
    bottom: 10px;
}
nav ul li:hover .bar{
    width: 100%;
    background-color: #357171;
}
nav ul li .bar:focus{
    width: 100%;
    display: block;
}