header{
    display: flex;
    justify-content: flex-end;
    background-color: #0aa778;
    height: 60px;
    padding: 0 40px;
    top: 0%;
    left: 0%;
    align-items: center;
    border-bottom: 1px solid rgba(37, 45, 45, 0.8);
    position: sticky;
    z-index: 999;
  }
  a{
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
  }
  nav ul{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
     list-style: none;
     font-size: 28px;
     color: #fff;
     place-items: center;
     font-family: 'Shantell Sans', serif;
}
nav ul li{
     width: 135px;
     text-align: center;
}
nav ul li:hover{
    color: #357171;
}
nav ul li a.a-left{
     position: relative;
    left: 30px;
}
.bar{
    position: relative;
    height: 2px;
    background-color: white;
    width: 0%;
    transition: all 0.5s ease-out;
}
nav ul li:hover .bar{
    width: 100%;
}
nav ul li .bar:focus{
    width: 100%;
    display: block;
}